	<div id="js-game-settings" class="pt-panel">
		<h3><%_ gameSettings %></h3>
		<ul class="not-styled" >
			<li>
				<label >
					<%_ totalChips_label %>
				</label>
				<span name="totalChips" class="input-like" data-toggle="tooltip" title="<%_ totalChips_tip %>"></span>
				
			</li>
			<li>
				<label >
					<%_ avarageStack_label %>
				</label>
				<span name="avarageStack" class="input-like" data-toggle="tooltip" title="<%_ avarageStack_tip %>"></span>

			</li>
			<li>
				<label >
					<%_ pricePool_label %>
				</label>
				<span name="pricePool" class="input-like" data-toggle="tooltip" title="<%_ pricePool_tip %>"></span>
		
			</li>
			<li>
				<label>
					<%_ currentLevel_label %>
				</label>
				<span name="currentLevel" class="input-like"  data-toggle="tooltip" title="<%_ currentLevel_tip %>"></span>
			
			</li>
			<li>
				<label>
					<%_ chipsPerPlayer_label %>
				</label>
				<input name="chipsPerPlayer" type="number" data-toggle="tooltip" title="<%_ chipsPerPlayer_tip %>">
		
			</li>
			<li>
				<label>
					<%_ remainPlayers_label %>
				</label>
				<input name="remainPlayers" type="number"  data-toggle="tooltip" title="<%_ remainPlayers_tip %>">

			</li>
			<li>
				<label>
					<%_ totalPlayers_label %>
				</label>
				<input name="totalPlayers" type="number" data-toggle="tooltip" title="<%_ totalPlayers_tip %>">

			</li>
			<li>
				<label>
					<%_ buyInValue_label %>
				</label>
				<input name="buyInValue" type="number" data-toggle="tooltip" title="<%_ buyInValue_tip %>">
				
			</li>
			<li>
				<label>
					<%_ reBuy_label %>
				</label>
				<input name="reBuy" type="number" data-toggle="tooltip" title="<%_ reBuy_tip %>">
		
			</li>
			<li>
				<label>
					<%_ addOn_label %>
				</label>
				<input name="addOn" type="number"  data-toggle="tooltip" title="<%_ addOn_tip %>">
			
			</li>
			<li>
				<label>
					<%_ pricePoolProportions_label %>
				</label>
				<input name="pricePoolProportions" data-toggle="tooltip" title="<%_ pricePoolProportions_tip %>">
				
			</li>

		</ul>
	</div>
	
 	<div id="js-other-settings" class="pt-panel">
	<h3><%_ otherSettings %></h3>

	<ul class="not-styled" >
		<li>  
			<label>
			<%_ isSoundsOn_label %>
			</label>
			<input  type="checkbox" name="isSoundsOn" data-toggle="tooltip" title="<%_ isSoundsOn_tip %>">
	
			
		</li>
		<li>
			<label>
			<%_ evaluateChips_label %>
			</label>
			<input  type="checkbox" name="evaluateChips" data-toggle="tooltip" title="<%_ evaluateChips_tip %>">
			
		</li>
		<li  class="hide">
			<label>
			<%_ background_label %>
			</label>
			<select name="background"   data-toggle="tooltip" title="<%_ background_tip %>">
				<option value="bg2.jpg">BG2</option>
				<option value="bg4.jpg">BG4</option>
				<option value="bg5.jpg">BG5</option>
				<option value="bg6.jpg">BG6</option>
			</select>

		</li>		
		<li>
			<label>
			<%_ background_label %>
			</label>
			<input type="text" name="backgroundOnline" class="other" data-toggle="tooltip" title="<%_ background_tip %>"/>

		</li>
		<li>
			<label>
			<%_ backgroundGradient_label %>
			</label>
			<select name="backgroundGradient" class="other" data-toggle="tooltip" title="<%_ backgroundGradient_tip %>">
				<option value="gradient-red-blue">Red-blue</option>
				<option value="gradient-black">Dark</option>
				<option value="gradient-aqua">Aqua</option>
				<option value="gradient-yellow">yellow</option>
			</select>

		</li>
		<li>
			<label>
			<%_ language_label %>
			</label>
			<select name="language" class="other"   data-toggle="tooltip" title="<%_ language_tip %>">
				<option value="en-en">English</option>
				<option value="pl">Polski</option>
			</select>
		
		</li>
	</ul> 
	</div>

