
	<thead>
		<tr>
			<td><%_ levelTableHeader %></td>
			<td><%_ smallBlindTableHeader %></td>
			<td><%_ bigBlindTableHeader %></td>
			<td><%_ anteTableHeader %></td>
			<td><%_ durationTableHeader %></td>
			<td><%_ actionHeader %></td>
		</tr>d
	</thead>
	<tbody>
		

	</tbody>

	<tfoot>
		<tr>
			<td colspan="6">
				<button class="js-add" data-toggle="tooltip" title="Add new level"><i class="fa fa-plus-square"></i></button>
				<button class="js-remove" data-toggle="tooltip" title="Remove last level"><i class="fa fa-minus-square"></i></button>
				<button class="js-addBreakLevel" data-toggle="tooltip" title="add break"><i class="fa fa-coffee"></i></button>
				<!-- <button class="js-hide" data-toggle="tooltip" title="Hide level table"><i class="fa fa-ban"></i></button> -->
			</td>
		</tr>
	</tfoot>
